<%- include('../partials/header') %>

<div class="center-div">
    <form action="/home/search" method="GET">
        <h1 class="text-center">Tragic the Gathering</h1>
        <div class="search-group">
            <label class="search-label" for="name">Card Name</label>
            <input type="text" name="name" class="block" placeholder="Enter a Card Name">
        </div>
        <div class="search-group">
            <label class="search-label" for="set">Card Set (Optional)</label>
            <input type="text" name="set" class="block" placeholder="Set Name">
        </div>
        <div class="search-group-button">
            <button class="button block" type="submit">Search</button>
        </div>
    </form>
</div><br>
<div class="search-results">
    <% if (card.name) { %>
        <p> <strong>Name: </strong><%= card.name %><br>
            <strong>Mana Cost: </strong><%= card.mana_cost %><br>
            <strong>Type: </strong><%= card.type_line %><br>
            <% if (card.power && card.toughness) { %>
                <strong>Power: </strong><%= card.power %>, <strong>Toughness: </strong><%= card.toughness %><br>
            <% } %>
            <strong>Set: </strong><%= card.set.toUpperCase() %>, <strong>Set Name: </strong><%= card.set_name %>, <strong>Card No: </strong><%= card.collector_number %><br>
            <strong>Oracle Text: </strong><%= card.oracle_text %>
        </p>
    <% } else if (card.code) { %>
        No card with that name has been found.
    <% } else { %>
        Please search for a card.
    <% } %>
</div>

<%- include('../partials/footer') %>
